body {
    background: #f6d1c6 
}

main {
    display: flex;
    width: 100%; 
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: roc-grotesk, sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    line-height: 10px;
}

.juices {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: roc-grotesk, sans-serif;
    font-size: 28px;
    line-height: 10px;
    text-align: center;
}

.smoothies {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: roc-grotesk, sans-serif;
    font-size: 28px;
    line-height: 10px;
    text-align: center;
}

h3 {
    padding-top: 15px;
}

.bio {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: roc-grotesk, sans-serif;
    max-width: 700px;
    font-size: 20px;
}

.location {
    font-family: roc-grotesk, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 10px;
}

.map {
    max-width: 700px;
    max-height: 700px;
}

.feedback {
    font-family: roc-grotesk, sans-serif;
}

.img {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 0px;
    max-width: 700px;
}

.orange {
    padding-top: 100px;
    max-width: 700px;
    max-height: 700px;
}

.orange:hover {
    animation: rotation 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
    background-color:#7fd19a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: roc-grotesk, sans-serif;
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    padding: 15px;
}


.slider {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slide-content {
    display: grid;
    grid-template-columns;
}

.slide-content .text-content {margin-left: 20px;}

.slide-content img {width: 100%;}

.slick-initialized .slick-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media only screen and (min-width: 1024px){
    header {
        display: flex;
    }
    .menu { display: flex; }
}
