body {
    background: #f6d1c6 
}

main {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    padding-top: 200px;
    padding-bottom: 50px;
}

.menu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bio {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.img {
    width: 100%;
    padding-bottom: 50px;
}

.orange {
    max-width: 500px;
    max-height: 500px;
}

.orange:hover {
    animation: rotation 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

