body {
    background: #f6d1c6 
}

main {
    display: flex;
    width: 100%; 
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
}

.title {
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: roc-grotesk, sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
    line-height: 80px;
}

.menu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bio {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.img {
    width: 100%;
    padding-bottom: 50px;
}

.orange {
    max-width: 800px;
    max-height: 800px;
}

.orange:hover {
    animation: rotation 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

