img {
    width: 100%;
  }

  .home-img {
    padding-top: 160px;
  }

  .home-img:hover {
    filter: invert(169%);
  }
  
  body {
      background: yellowgreen;
  }

  p {
    color: 1c1b1b;
    text-align: justify;
    width: 88%;
    font-family: 'Roboto', sans-serif;
  }

  .natalia-name {
    padding-top: 475px;
  }

  .natalia-name:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

  .natalia-grid {
      display: flex;
  }

  .natalia-grid section {
      padding: 40px;
  }

  .natalia-grid .photo-col {
      flex: 60%;
  }

  .natalia-grid .text-col {
      flex: 40%;
  }


  p {
    color: 1c1b1b;
    text-align: justify;
    width: 88%;
    font-family: 'Roboto', sans-serif;
  }
  
   .nia-name {
    padding-top: 475px;
  }

  .nia-name:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

  .nia-grid {
      display: flex;
  }

  .nia-grid section {
      padding: 40px;
  }

  .nia-grid .photo-col {
      flex: 60%;
  }

  .nia-grid .text-col {
      flex: 40%;
  }

  .bryn-name {
    width: 80%;
    padding-top: 475px;
  }

  .bryn-name:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

  .bryn-name:hover {
    filter: invert(169%);
  }

  .bryn-grid {
      display: flex;
  }

  .bryn-name section {
      padding: 40px;
  }

  .bryn-grid .photo-col {
      flex: 60;
  }

  .bryn-grid .text-col {
      flex: 40%;
  }

  .nav-img:hover {
    filter: invert(169%);
  }
  
  .home-grid {
    display: flex;
  }
  
  .home-grid section {
    padding: 40px;
  }
  
  main {
    width: 90%;
    margin: auto;
  }
  
  .home-grid .small-col {
    flex: 30%;
  }
  .home-grid .lrg-col {
    flex: 40%;
  }
  .navbar {
    background-color: greenyellow;
    
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar a:hover {
    background-color: blue;
    color: yellowgreen;
  }

  .navbar a {
    float: left;
    display: block; 
    color: #1c1b1b;
    color: blue;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }


    .navbar a.active {
      background-color: blue;
      color: greenyellow;
    }


  body { margin: 0;}
* {box-sizing: border-box;}
